html {
  background: url(../img/ForestPhoto.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.button-link {
  float: right;
  font-size: 30px;
  padding-left: 20px;
  color: #AACCBA;
  text-decoration: none;
  font-family: 'Montserrat';
}

.button-link:hover {
  color: #88FF00;
}

.titleslot {
  font-size: 40px;
  color: #AACCBA;
  font-family: 'Montserrat';
  text-decoration: none;
}

#mainslot {
  text-align: center;
}

#jumbotron {
  font-size: 40px;
  color: #AA77FF;
  font-family: 'Raleway';
}

#schpeel {
  font-size: 23px;
  color: #AACCBA;
  font-family: sans-serif;
}

.button-l {
  color: #AACCBA;
  text-decoration: none;
}

.button-l:hover {
  color: #88FF00;
}

#pmain {
  position: absolute;
  left: 45%;
  top: 200px;
  font-size: 35px;
  text-decoration: none;
  color: #AA77FF;
  font-family: 'Raleway';
}

.img-schp{
	color:#CCEEAA;
	position:absolute;
	left:45px;
	font-size:20px;
	font-family: 'Raleway';
}
#project-site{
	position:absolute;
	top:325px;
	left:65%;
}
#removtextdecor {
  text-decoration: none !important
}

.imag{
	max-width:350px;
	max-height: 150px;
}
#footer {
  position: absolute;
  bottom: 60px;
  right: 20px;
}

#sndh {
  position: absolute;
  bottom: 40px;
  right: 20px;
}

#foot {
  color: #AACCBA;
  font-family: 'Montserrat';
}
#ur-img{
	background: url(../img/ForestPhoto.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#urea{
	position:absolute;
	top:300px;
	left:60px;
}
#u-schp{
	left:45px;
}
#mov-bit{
	margin-left: 25px;
}
#morecome{
	position: absolute;
	top:70%;
	left:32%;
}
#text{
	font-size: 40px;
}
